# Some of these could contain something of importance,
# Check on this when problem arises
elpa/
geiser/
network-security.data
eww-bookmarks
.cache/
eshell/
games/
url/
newsticker/
srecode-map.el

custom.el
.org-id-locations

auto-save-list/
transient/
