# Some of these could contain something of importance,
# Check on this when problem arises
elpa/
geiser/
network-security.data
eww-bookmarks
.cache/
eshell/
games/
url/

custom.el
.org-id-locations

# I don't want to sync pkg/, but I do want to sync
# the list of files it contains. Some form of simple
# script would probably do the job
pkg/
auto-save-list/
